h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  clear: both;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.6rem;
}

.delivery h2,
.this-week-menu h2 {
  color: $color__primary;
  text-align: center;
}
